section {
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .image-text-container {
    display: flex;
    align-items: center;
  }
  
  .image {
    width: 50%;
    margin-right: 20px;
  }
  
  .text {
    width: 50%;
  }
  
  .text h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  